<h1> Create New Assignment:</h1><br>

<%= form_for @assignment do |f| %>
<%= f.label :title, "Name of Assignment:" %>
<%= f.text_field :title %>
<br>

<%= f.label :instructions, "Instructions:" %>
<%= f.text_area :instructions %>
<br>

<%= f.label :attachment, "Upload Assignment:" %>
<%= f.file_field :attachment %>
<br>

<%= f.label :due_date, "Due Date:" %>
<%= f.datetime_field :due_date %>
<br>

<%= f.label :score, "Score:" %>
<%= f.number_field :score %>
<br>


<br>


<div>
    <h3>Assign to Student:</h3>
    <%= f.fields_for :user, User.all do |user_attributes|%>
        <%= user_attributes.label :role, "user role:" %>
        <%= user_attributes.text_field :role %>
    <% end %>
  </div>

<%= f.submit "Create Assignment" %>
<% end %>

