<h2> Welcome, <% current_user.username %> !</h2><br>
<h3> This is your Assignment Dashboard </h3><br><br><br>

<h1><%= @assignment.title %></h1><br>

<%= link_to "Open Assignment", url_for(@assignment.file) %><br><br>

<%= @assignment.instructions %>

<!--how to get attachment to show here as a link to open -->
<br>


<%= link_to "Edit Assignment", edit_assignment_path %><br>
<%= link_to "Delete Assignment", assignment_path(@assignment), :data => {:confirm => 'Are you sure?'}, :method => :delete %><br>
<br>

<%= link_to "Back", "history.back()" %>